<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.org.cesar.discordtime.stickysessions">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- The app requires this feature because all the activities are fixed portrait orientation -->
    <uses-feature android:name="android.hardware.screen.portrait" />

    <application
        android:name=".app.StickySessionApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".ui.login.LoginActivity"
            android:screenOrientation="${orientation}"
            android:theme="@style/LaunchTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.lobby.LobbyActivity"
            android:screenOrientation="${orientation}">
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.main.MainActivity"
            android:screenOrientation="${orientation}" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.session.SessionActivity"
            android:screenOrientation="${orientation}"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme">
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="stickysessions.com"
                    android:pathPrefix="/enter"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.list.ListSessionsActivity"
            android:screenOrientation="${orientation}"
            android:parentActivityName=".ui.lobby.LobbyActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="a424bb71aabbb9dc394510a7603e871f6b7e6cb4" />

    </application>

</manifest>
